@page
@model WebApplication1.Pages.changepassModel

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            <form method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordModel.currPass">Current Password</label>
                    <input type="password" asp-for="ChangePasswordModel.currPass" class="form-control" />
                    <span asp-validation-for="ChangePasswordModel.currPass" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordModel.newPass">New Password</label>
                    <input type="password" asp-for="ChangePasswordModel.newPass" class="form-control" />
                    <span asp-validation-for="ChangePasswordModel.newPass" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ChangePasswordModel.cfmPass">Confirm Password</label>
                    <input type="password" asp-for="ChangePasswordModel.cfmPass" class="form-control" />
                    <span asp-validation-for="ChangePasswordModel.cfmPass" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
