@page
@model WebApplication1.Pages.ForgotPasswordModel
@{
}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label" asp-for="ForgetModel.Email">Email Address</label>
                <input type="Text" asp-for="ForgetModel.Email" class="form-control" />
                <span asp-validaton-for="ForgetModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>